.h1-bundles {
    color: #fff;
    font-family: $font-title;
    text-align: center;
}

.p-bundles {
    color: #fff;
    font-family: $font-text;
    text-align: center;
    padding-top: 30px;
}

.bundle1 {
    width: 100%;
    min-height: 40vh;
    background-color: #FF8552;
    
    h2 {
        color: #fff;
        font-family: $font-title;
        text-align: center;
    }

    button {
        width: 120px;
        height: 40px;
        background-color: #64A7FF;
        border: 0;
        border-radius: 20px;
        color: #FFF;
        font-family: $font-text;
        margin-left: 150px;
        margin-top: 20px;
    }

    button:hover {
        cursor: pointer;
    }

    .bundle-container {
        margin-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 6px;

        div {
            width: 120px;
            height: 220px;
            //background-color: #FFF;
            border: 1px solid black;

            img {
                width: 120px;
                height: 100px;
                background-color: red;
                margin-top: 20px;
            }

            p {
                margin: 0;
                padding: 0;
            }
            .see-more {
                margin: 0;
                padding: 0;
                background-color: #22B100;
                margin-top: 20px;
            }
        }
    }
}

.bundle2 {
    width: 100%;
    min-height: 40vh;
    background-color: #272B34;

    h2 {
        color: #fff;
        font-family: $font-title;
        text-align: center;
    }

    button {
        width: 120px;
        height: 40px;
        background-color: #64A7FF;
        border: 0;
        border-radius: 20px;
        color: #FFF;
        font-family: $font-text;
        margin-left: 150px;
        margin-top: 20px;
    }

    button:hover {
        cursor: pointer;
    }

    .bundle-container {
        margin-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 6px;

        div {
            width: 120px;
            height: 220px;
            //background-color: #FFF;
            border: 1px solid black;

            img {
                width: 120px;
                height: 100px;
                background-color: red;
                margin-top: 20px;
            }

            p {
                margin: 0;
                padding: 0;
            }
            .see-more {
                margin: 0;
                padding: 0;
                background-color: #22B100;
                margin-top: 20px;
            }
        }
    }
}

.bundle3 {
    width: 100%;
    min-height: 40vh;
    background-color: #309C8E;

    h2 {
        color: #fff;
        font-family: $font-title;
        text-align: center;
    }

    button {
        width: 120px;
        height: 40px;
        background-color: #64A7FF;
        border: 0;
        border-radius: 20px;
        color: #FFF;
        font-family: $font-text;
        margin-left: 150px;
        margin-top: 20px;
    }

    button:hover {
        cursor: pointer;
    }

    .bundle-container {
        margin-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 6px;

        div {
            width: 120px;
            height: 220px;
            //background-color: #FFF;
            border: 1px solid black;

            img {
                width: 120px;
                height: 100px;
                background-color: red;
                margin-top: 20px;
            }

            p {
                margin: 0;
                padding: 0;
            }
            .see-more {
                margin: 0;
                padding: 0;
                background-color: #22B100;
                margin-top: 20px;
            }
        }
    }
}

.bundle4 {
    width: 100%;
    min-height: 40vh;
    background-color: #FFED6A;

    h2 {
        color: #000;
        font-family: $font-title;
        text-align: center;
    }

    button {
        width: 120px;
        height: 40px;
        background-color: #64A7FF;
        border: 0;
        border-radius: 20px;
        color: #FFF;
        font-family: $font-text;
        margin-left: 150px;
        margin-top: 20px;
    }

    button:hover {
        cursor: pointer;
    }

    .bundle-container {
        margin-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 6px;

        div {
            width: 120px;
            height: 220px;
            //background-color: #FFF;
            border: 1px solid #000;

            img {
                width: 120px;
                height: 100px;
                background-color: red;
                margin-top: 20px;
            }

            p {
                margin: 0;
                padding: 0;
                color: #000;
            }

            .see-more {
                margin: 0;
                padding: 0;
                background-color: #22B100;
                margin-top: 20px;
                color: #FFF;
            }
        }
    }
}