

@mixin btn-login ($colorBg, $colorFont) {
    padding: 10px 50px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    border:none;

    background-color: $colorBg;
    color: $colorFont;
}

body
{margin: auto;}

.logo-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
    padding-bottom:60px;
}
body p {
    font-family: $font-text;
    font-weight: 200;
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}


.btn-login {
    @include btn-login(#3CC3B1, white); 
}
.btn-loginwith-apple {
    @include btn-login(#000000, white);   
}
.btn-loginwith-google {
    @include btn-login(white, #818181);
}
