

//header logo styling 
.h1-bundles {
    color: #fff;
    font-family: $font-title;
    text-align: center;
}

.p-bundles {
    color: #fff;
    font-family: $font-text;
    text-align: center;
    padding-top: 30px;
}

.logo-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
    padding-bottom:60px;
}

//top navigation
#top-nav {
    font-family: $font-title;
    top: 0px;
    width: 428px;
    height: 7%;
}

.top-nav-non-sticky {
    position: relative;
    top: 0;
}

.top-nav-sticky {
    position: fixed;
    top: 0;
}

//menu item styling
@mixin list-item($is-text: false){
    width: 33.3333333%;
    background-color: white;
    border: 1px solid $color-grey;
    display: flex;
    justify-content: center;
    text-align: center;
    
    @if $is-text {
        padding-top: 4.3%;
    }
}

//centrer billede svg format
@mixin svg-center {
    height: 50%;
    margin: auto;    
}

//nav bliver i bunden/størrelse
.bot-nav {
    z-index: 10000;
    font-family: $font-title;
    position: fixed;
    bottom: 0px;
    width: 428px;
    height: 7%;
}

.bot-menu-spacer {
    height: 7%;
    position: absolute;
}

//flexer menu items
.bot-menu-list {
    display:flex; 
    height: 100%;
}

.bot-list-item {
    @include list-item(false);
}

.bot-list-item-text {
    @include list-item(true);
}

//breadcrumb
.bot-list-item-active {
    background-color: $color-green;
}

.bot-list-item-img {
   @include svg-center()
}

.hidden {
    display:none;
}


