* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* Importere Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); //Oswald
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:wght@700&display=swap'); //PT Sans

/* Variabler */
$font-title: 'Oswald', sans-serif;
$font-text: 'PT Sans', sans-serif;

/*Colors*/ 
$background-gradient: linear-gradient(190deg, rgba(255,255,255,1) 0%, rgba(124,74,155,1) 0%, rgba(122,53,105,1) 53%, rgba(50,31,57,1) 100%);
$color-green: #3CC3B1; 
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #818181; 

.global-wrapper {
    width: 428px;
    height: 120vh; //Højden kan altid blive større men ikke mindre (926px som default)
    background: $background-gradient;
    margin: 0 auto;
    //overflow-y: scroll; //Tilføjer Scrollbar
}

//menu item styling
@mixin list-item($is-text: false){
    width: 33.3333333%;
    background-color: white;
    border: 1px solid $color-grey;
    display: flex;
    justify-content: center;
    text-align: center;
    
    @if $is-text {
        padding-top: 4.3%;
    }
}

//centrer billede svg format
@mixin svg-center {
    height: 50%;
    margin: auto;    
}

//nav bliver i bunden/størrelse
.bot-nav {
    font-family: $font-title;
    position: fixed;
    bottom: 0px;
    width: 428px;
    height: 7%;
}

//flexer menu items
.bot-menu-list {
    display:flex; 
    height: 100%;
}

.bot-list-item {
    @include list-item(false);
}

.bot-list-item-text {
    @include list-item(true);
}

//breadcrumb
.bot-list-item-active {
    background-color: $color-green;
}

.bot-list-item-img {
   @include svg-center()
}

.hidden {
    display:none;
}


