.h1-signup {
    font-family: $font-title;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.signup-wrapper {
    width: 312px;
    margin:auto;
}
.p-signup {
    font-family: $font-text;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.opret-input {
    /*$input;*/
   
}

    /*   text-align: center;
    border-radius: 30px;
    border: none;
    margin:  10px;
   padding: 10px;*/

