body {
}

.userlogin-container{
    width:320px;
    margin:auto;
}

.userlogin-container input {
    width:180px;
    margin-left:20%;
}

.userlogin-container button {
    margin-top: 30%;
    width: 180px;
    height: 40px;
}