/* Importere Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); //Oswald
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:wght@700&display=swap'); //PT Sans

/* Variabler */
$font-title: 'Oswald', sans-serif;
$font-text: 'PT Sans', sans-serif;
$background-gradient: linear-gradient(190deg, rgba(255,255,255,1) 0%, rgba(124,74,155,1) 0%, rgba(122,53,105,1) 53%, rgba(50,31,57,1) 100%);
$input: text-align center, border-radius 30px, border none, margin 10px, padding 10px;


/* Importere andre scss filer her */
@import '_reset.scss';
@import '_global.scss';
@import '_login.scss';
@import '_signup.scss';
@import '_bundle.scss';